.landing{
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url("../../../../img/ww.png");
    background-size: 100% 100%;
    background-position: center;
    margin-bottom: 25px !important;
    box-shadow: 0 5px 15px hsl(0deg 0% 0% / 74%);
}
.before::before{
    content: "";
    display: block;
    background-color: #25272828 !important;
    width: 100%;
    height: 100%;
}
.landing1{
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url("../../../../img/landing1.jpg");
    background-size: 100% 100%;
    background-position: center;
    margin-bottom: 25px !important;
    box-shadow: 0 5px 15px hsl(0deg 0% 0% / 74%);
}
.landing2{
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url("../../../../img/landing2.png");
    background-size: 100% 100%;
    background-position: center;
    margin-bottom: 25px !important;
    box-shadow: 0 5px 15px hsl(0deg 0% 0% / 74%);
}
.text{
    position: absolute;
    top: 25%;
    left: 5%;
    color: white;
}
.h3{
    font-size: unset !important;
    line-height: inherit;
}
.button{
    margin: 25px 0 0;
    padding: 15px;
    background: black;
    border-radius: 12px;
    transition: 0.3s;
}
.button:hover{
    font-size: large;
}
.tss{
    font-size: 300px !important;
}