@import '@fontsource/roboto';
.bg{
    background-color: black !important;
}
.color{
    color: #c9c9c9 !important;
}
.c{
    color: black;
}
.dark{
    background-color: #1c1c1d !important;
}
.darkT{
    background-color: #1c1d1f !important;
}
.rounded-15{
    border-radius: 15px;
}
.shadow-8{
    box-shadow: 0px 0px 8px black;
}.shadow-15{
    box-shadow: 0px 0px 15px black;
}
.before::before{
    content: "";
    position: absolute;
    background-color: #eee;
    width: 58%;
    height: 100%;
    z-index: 0;
    transform: skewX(-26.2deg);
    transform-origin: top left;
}
.before{
    position: relative;
}
.more:hover{
    background-color: white; 
    color: black !important;
    border: 2px solid #009ca6;
    transition: 0.5s;
}
.border-bm{
    padding-bottom: 10px;
    border-bottom: 5px solid #009ca6;
}.img-before{
    position: relative;
}.img-before::before{
    content: "";
    position: absolute;
    background-color: #eee;
    width: 58%;
    height: 100%;
    z-index: 0;
    transform: skewX(-26.2deg);
    transform-origin: top left;
}.br-37{
    border-radius: 37px;
}.column-gap{
    column-gap: 31px;
}.block-box{
    padding: 40px 414px 40px 22px;
    position: relative;
    overflow: hidden;
}.block-radius{
    border-radius: 42px;
    border: 3px solid #F0F0F0;
}